@charset "UTF-8";
/*! lixinjie 20180129 https://github.com/xinjie-just/tuobei-customer-back-end.git */
@import "variables";
@import "reboot";

/*===首页===*/
#header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: $header-height;
  top: 0;
  .logo {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: $sidebar-menu-width;
    height: $header-height;
    line-height: $header-height;
    background-color: $logo-bg-color;
    color: #fff;
    font-size: $font-size;
    font-weight: normal;
    text-align: center;
    letter-spacing: .2em;
    a {
      display: block;
      height: 100%;
      color: inherit;
      &:hover {
        background-color: darken($logo-bg-color, 8%);
      }
    }
  }
  .navbar {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - #{$sidebar-menu-width});
    height: $header-height;
    background-color: $main-color;
    @extend .clearfix;
  }
  .custom-menu {
    float: right;
    height: $header-height;
    line-height: $header-height;
    color: #fff;
    li {
      float: left;
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
      &:not(:first-of-type) {
        &::before {
          position: absolute;
          content: "";
          width: 1px;
          height: 40px;
          left: 0;
          top: 50%;
          background-color: #fff;
          transform: translateY(-50%);
        }
      }
      &.sign-out {
        padding-left: 0;
        padding-right: 0;
        a {
          display: block;
          padding-right: 20px;
          padding-left: 20px;
          color: #fff;
          &:hover {
            background-color: darken($main-color, 8%);
          }
        }
      }
      &.user-menu {
        font-size: 0;
        span {
          font-size: $font-size;
          display: inline-block;
          vertical-align: middle;
        }
        img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          width: 40px;
          height: 40px;
          line-height: 40px;
          border-radius: 50%;
          font-size: $font-size;
          border: 1px solid darken($main-color, 8%);
          @extend %ellipsis;
        }
      }
    }
  }
}
#sidebarMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-menu-width;
  height: 100%;
  background-color: $menu-bg-color;
  color: #5f79b0;
  padding-top: $header-height;
  overflow-y: auto;
  .sidebar-menu-list {
    padding-top: 8px;
    padding-bottom: 8px;
    > li {
      $height: 30px;
      &:not(:last-of-type) {
        margin-bottom: 14px;
      }
      > a {
        display: block;
        height: $height;
        line-height: $height;
        color: #5f79b0;
        font-size: $font-size;
        padding-left: 40px;
        border-left: 3px solid transparent;
        .icon {
          font-size: $font-size + 2;
          margin-right: 6px;
        }
        &.active,
        &:hover {
          border-left-color: #fff;
          color: #fff;
        }
      }
    }
  }
}
#main {
  display: block;
  height: 100%;
  margin-left: $sidebar-menu-width;
  padding: calc(30px + #{$header-height}) 30px calc(30px + #{$footer-height});
  background-color: $main-content-bg-color;
}
#footer {
  z-index: 999;
  display: block;
  width: calc(100% - #{$sidebar-menu-width});
  height: $footer-height;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #fff;
  line-height: 40px;
  font-size: $font-size;
  color: $text-info-color;
  padding-right: 30px;
  padding-left: 30px;
  @extend %ellipsis;
}

/*===基本信息===*/
.basic-info-form {
  $height: 32px;
  $div-space-between: 60px;
  width: 100%;
  background-color: #fff;
  padding: 15px 60px 100px 60px;
  @extend .clearfix;
  > div {
    float: left;
    width: calc(50% - #{$div-space-between} / 2);
    min-width: 240px;
    margin-bottom: 18px;
    &:nth-of-type(2n + 1) {
      margin-right: $div-space-between;
    }
    label:not(.error) {
      display: block;
      font-size: $font-size;
      font-weight: 500;
      width: 100%;
      height: $height;
      line-height: $height;
      position: relative;
      color: $text-info-color;
      &.required {
        &::before {
          content: "*";
          position: absolute;
          left: -8px;
          font-size: $font-size;
          color: #f00;
        }
      }
    }
    label.error {
      width: 100%;
      display: block;
      font-size: 12px;
      height: 18px;
      line-height: 18px;
    }
    input {
      width: 100%;
      display: block;
      height: $height + 2;
      line-height: $height;
      border: 1px solid #bfbfbf;
      font-size: $font-size;
      color: $text-info-color;
      padding-right: 20px;
      padding-left: 20px;
      border-radius: 2px;
      @extend %ellipsis;
      &:focus {
        border-color: darken(#bfbfbf, 80%);
        outline: none;
      }
    }
    &.datetime {
      position: relative;
      input {
        background-color: #ccc;
        cursor: pointer;
      }
    }
    select {
      width: 100%;
      height: $height + 2;
      line-height: $height;
      padding-left: 20px;
      border: 1px solid #bfbfbf;
      color: #a7a7a7;
      font-size: $font-size;
      cursor: pointer;
      &:focus {
        border-color: darken(#bfbfbf, 80%);
        outline: none;
      }
      option {
        height: 30px;
        line-height: 30px;
        padding-right: 20px;
        padding-left: 20px;
        color: $text-info-color;
        font-size: $font-size;
        cursor: pointer;
      }
    }
    &.cancel-confirm {
      margin-top: 50px;
      font-size: 0;
      button {
        display: inline-block;
        vertical-align: middle;
        font-size: $font-size;
        color: #fff;
        padding: 10px 32px;
        text-align: center;
        border-radius: 40px;
        &:not(:last-of-type) {
          margin-right: 40px;
        }
      }
      .cancel {
        background-color: #eaeff9;
        &:hover {
          background-color: darken(#eaeff9, 8%);
        }
        &:focus {
          background-color: darken(#eaeff9, 14%);
        }
      }
      .confirm {
        background-color: $btn-bg-color;
        &:hover {
          background-color: darken($btn-bg-color, 8%);
        }
        &:focus {
          background-color: darken($btn-bg-color, 14%);
        }
      }
    }
  }
}

/*===消费记录===*/
.handle-list {
  $height: 30px;
  $mt: 5px;
  padding: 17px 10px;
  background-color: #fff;
  @extend .clearfix;
  .condition-list {
    float: left;
    @extend .clearfix;
    > div {
      float: left;
      margin-top: $mt;
      margin-bottom: $mt;
      &:not(:last-of-type) {
        margin-right: 10px;
        font-size: 0;
      }
      label {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        font-size: $font-size;
        color: $text-color;
      }
      input {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        color: $text-info-color;
        border: 1px solid #bfbfbf;
        width: 160px;
        height: $height;
        line-height: $height - 2;
        padding-right: 1em;
        padding-left: 1em;
        @extend %ellipsis;
        &:focus {
          border-color: darken(#bfbfbf, 80%);
          outline: none;
        }
      }
      select {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        color: $text-info-color;
        border: 1px solid #bfbfbf;
        width: 160px;
        height: $height;
        line-height: $height - 2;
        padding-left: 1em;
        @extend %ellipsis;
        &:focus {
          border-color: darken(#bfbfbf, 80%);
          outline: none;
        }
        option {
          line-height: 1.5;
        }
      }
    }
    @media (max-width: 1600px) {
      width: calc(100% - 140px);
    }
  }
  .handle-method {
    float: right;
    margin-top: $mt;
    margin-bottom: $mt;
    button {
      display: inline-block;
      vertical-align: middle;
      padding-right: 16px;
      padding-left: 16px;
      height: $height;
      line-height: $height;
      text-align: center;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      &:not(:last-of-type) {
        margin-right: 10px;
      }
      &.filter {
        background-color: $main-color;
        &:hover {
          background-color: darken($main-color, 8%);
        }
        &:focus {
          background-color: darken($main-color, 14%);
        }
      }
      &.export {
        background-color: $btn-bg-color;
        &:hover {
          background-color: darken($btn-bg-color, 8%);
        }
        &:focus {
          background-color: darken($btn-bg-color, 14%);
        }
      }
    }
  }
}
.record-list {
  background-color: #fff;
  margin-top: 20px;
  padding-bottom: 20px;
  table.record-list-table {
    $height: 40px;
    width: 100%;
    table-layout: fixed;
    thead {
      tr {
        height: $height;
        line-height: $height;
        background-color: $main-color;
        th {
          padding-right: 1em;
          padding-left: 1em;
          font-size: $font-size;
          color: #fff;
          @extend %ellipsis;
        }
      }
    }
    tbody {
      tr {
        height: $height;
        line-height: $height - 1;
        border-bottom: 1px solid #f5f5f5;
        td {
          padding-right: 1em;
          padding-left: 1em;
          font-size: 12px;
          color: $text-info-color;
          @extend %ellipsis;
          &.order-status {
            padding-left: calc(1em + 18px);
            position: relative;
            &::before {
              content: "";
              position: absolute;
              left: 1em;
              top: 50%;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              transform: translateY(-50%);
            }
          }
          &.paid {
            &::before {
              background-color: #00ff42;
            }
          }
          &.not-paid {
            &::before {
              background-color: #f00;
            }
          }
          &.abolish {
            &::before {
              background-color: #7d7d7d;
            }
          }
          &.unknown {
            &::before {
              background-color: #fefe00;
            }
          }
        }
      }
    }
    /*.order-number {
      width: 30%;
    }
    .product-name {
      width: 40%;
    }
    .user-phone {
      width: 120px;
      min-width: 15%;
    }
    .member-level {
      width: 100px;
      min-width: 10%;
    }
    .product-price {
      width: 120px;
      min-width: 15%;
    }
    .payment-method {
      width: 100px;
      min-width: 10%;
    }
    .order-time {
      width: 150px;
      min-width: 20%;
    }*/
    .order-status {
      width: 100px;
    }
  }
}

/*分页*/
.pagination-wrapper {
  text-align: right;
  margin-top: 15px;
  padding-right: 1em;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
  > li {
    display: inline;
    > a,
    > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      text-decoration: none;
      color: $text-color;
      border: 1px solid #d4d4d4;
      background-color: #fff;
      &:hover,
      &:focus {
        z-index: 2;
        color: #fff;
        border-color: $main-color;
        background-color: $main-color;
      }
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
    &:last-child {
      > a,
      > span {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
  > .active {
    > a,
    > span {
      background-color: $main-color;
      border-color: $main-color;
      color: #fff;
      &:hover,
      &:focus {
        z-index: 3;
        cursor: default;
        color: #fff;
        border-color: $main-color;
        background-color: $main-color;
      }
    }
  }
  > .disabled {
    > a,
    > span {
      &:hover,
      &:focus {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
      }
    }
  }
}

/*===提现管理===*/
.withdraw-nav {
  $height: 40px;
  width: 100%;
  height: $height;
  background-color: $main-color;
  @extend .clearfix;
  a {
    display: block;
    float: left;
    height: $height;
    line-height: $height;
    padding-right: 30px;
    padding-left: 30px;
    color: #fff;
    font-size: $font-size;
    &.active,
    &:hover {
      background-color: $menu-bg-color;
    }
  }
}
/*余额提现*/
.withdraw-content {
  width: 100%;
  background-color: #fff;
  padding: 15px 15px 120px;
  .my-count {
    font-size: 14px;
    color: $text-info-color;
    margin: 60px auto 0;
    text-align: center;
    line-height: 1.8em;
  }
  .value {
    margin: 30px auto 0;
    font-size: 30px;
    color: $text-info-color;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    span {
      font-size: 50px;
      margin-left: 4px;
    }
  }
  .withdraw {
    text-align: center;
    margin: 70px auto 0;
    a {
      display: inline-block;
      padding: 10px 38px;
      border-radius: 40px;
      font-size: $font-size;
      color: #fff;
      background-color: $btn-bg-color;
      &:hover {
        background-color: darken($btn-bg-color, 8%);
      }
      &:focus {
        background-color: darken($btn-bg-color, 14%);
      }
    }
  }
}
.withdraw-form {
  background-color: #fff;
  padding: 24px 80px 80px;
  > div {
    color: $text-info-color;
    font-size: 12px;
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
    label {
      display: block;
      height: 36px;
      line-height: 36px;
      font-size: $font-size;
      color: $text-info-color;
    }
    &.card-select {
      select {
        min-width: 240px;
        height: 36px;
        line-height: 36px;
        padding-left: 20px;
        border: 1px solid #bfbfbf;
        color: #a7a7a7;
        font-size: $font-size;
        cursor: pointer;
        &:focus {
          border-color: darken(#bfbfbf, 80%);
          outline: none;
        }
        option {
          height: 30px;
          line-height: 30px;
          padding-right: 20px;
          padding-left: 20px;
          color: $text-info-color;
          font-size: $font-size;
          cursor: pointer;
        }
      }
    }
    .money-wrapper {
      $withdraw-money-height: 60px;
      min-width: 340px;
      width: 42%;
      height: $withdraw-money-height;
      line-height: $withdraw-money-height - 2;
      border: 1px solid #bfbfbf;
      @extend .clearfix;
      .currency {
        float: left;
        display: block;
        width: $withdraw-money-height - 2;
        height: $withdraw-money-height - 2;
        line-height: $withdraw-money-height - 2;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: $text-info-color;
      }
      .my-money {
        float: left;
        display: block;
        width: calc(100% - #{$withdraw-money-height} - 96px);
        height: $withdraw-money-height - 2;
        line-height: $withdraw-money-height - 2;
        font-size: $font-size + 2;
        font-weight: 500;
        color: $text-info-color;
        &:focus {
          border: none;
          outline: none;
        }
      }
      .all-money {
        display: block;
        float: right;
        width: 96px;
        height: $withdraw-money-height - 2;
        line-height: $withdraw-money-height - 2;
        text-align: center;
        background-color: transparent;
        color: $btn-bg-color;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          background-color: #efefef;
        }
        &:focus {
          background-color: #eaeaea;
        }
      }
    }
    &.tips {
      line-height: 1.6;
      span {
        color: #ff1616;
      }
    }
    &.handle {
      margin-top: 40px;
      @extend .clearfix;
      button {
        float: left;
        display: block;
        padding: 10px 38px;
        border-radius: 40px;
        font-size: $font-size;
        color: #fff;
        &:not(:last-of-type) {
          margin-right: 40px;
        }
        &.cancel {
          background-color: #eaeff9;
          &:hover {
            background-color: darken(#eaeff9, 8%);
          }
          &:focus {
            background-color: darken(#eaeff9, 14%);
          }
        }
        &.confirm {
          background-color: $btn-bg-color;
          &:hover {
            background-color: darken($btn-bg-color, 8%);
          }
          &:focus {
            background-color: darken($btn-bg-color, 14%);
          }
        }
      }
    }
  }
}
/*银行卡管理*/
.card-management-content {
  $item-height: 90px;
  $item-width: 250px;
  position: relative;
  padding-bottom: 200px;
  .card-list {
    @extend .clearfix;
    li {
      z-index: 9;
      position: relative;
      float: left;
      width: 250px;
      height: 90px;
      border-radius: 6px;
      margin: 15px 10px;
      padding-top: 10px;
      padding-left: 80px;
      color: #fff;
      cursor: pointer;
      &.selected,
      &.active {
        &::before {
          z-index: 10;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 6px;
          background: rgba(0, 0, 0, .5) url("../imgs/selected.png") no-repeat center / 30px;
        }
      }
      &:nth-of-type(3n + 1) {
        background-color: #d81e06;
        &:hover {
          background-color: darken(#d81e06, 8%);
        }
        &:focus {
          background-color: darken(#d81e06, 14%);
        }
      }
      &:nth-of-type(3n + 2) {
        background-color: #13227a;
        &:hover {
          background-color: darken(#13227a, 8%);
        }
        &:focus {
          background-color: darken(#13227a, 14%);
        }
      }
      &:nth-of-type(3n + 3) {
        background-color: #009174;
        &:hover {
          background-color: darken(#009174, 8%);
        }
        &:focus {
          background-color: darken(#009174, 14%);
        }
      }
      .bank-name {
        font-size: $font-size;
        line-height: 26px;
      }
      .card-type {
        font-size: 12px;
        line-height: 22px;
      }
      .card-number {
        font-size: 14px;
        line-height: 24px;
      }
      .iconfont {
        position: absolute;
        top: 50%;
        left: 20px;
        font-size: 40px;
        transform: translateY(-50%);
        color: #fff;
      }
    }
    .add-card-btn {
      position: relative;
      display: block;
      float: left;
      height: $item-height;
      width: $item-width;
      border: 2px dashed #a7a7a7;
      padding-top: 50px;
      text-align: center;
      border-radius: 6px;
      margin: 15px 10px;
      background-color: transparent;
      &:hover {
        background-color: darken(#fff, 8%);
      }
      &:focus {
        background-color: darken(#fff, 14%);
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 28px;
        left: 50%;
        font-weight: 500;
        width: 40px;
        height: 3px;
        border-radius: 3px;
        background-color: #eaeff9;
      }
      &::before {
        transform: translateX(-50%);
      }
      &::after {
        transform: translateX(-50%) rotate(90deg);
      }
    }
  }
  .remove-btn {
    position: absolute;
    bottom: 30px;
    right: 15px;
    display: block;
    padding: 10px 38px;
    border-radius: 40px;
    font-size: $font-size;
    color: #fff;
    &.default {
      background-color: #bebebe;
      cursor: not-allowed;
    }
    &.active {
      background-color: $btn-bg-color;
      cursor: pointer;
      &:hover {
        background-color: darken($btn-bg-color, 8%);
      }
      &:focus {
        background-color: darken($btn-bg-color, 14%);
      }
    }
  }
  .remove-card-wrapper {
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 5px #eee;
    padding: 30px 50px 50px;
    border-radius: 4px;
    &.default {
      display: none;
    }
    &.active {
      display: block;
    }
    .tips {
      line-height: 1.6em;
      text-align: center;
      font-size: 14px;
      color: $text-info-color;
    }
    .remove-card-handle {
      margin-top: 40px;
      button {
        padding: 10px 32px;
        color: #fff;
        font-size: 14px;
        border-radius: 40px;
        &:not(:last-of-type) {
          margin-right: 40px;
        }
        &.cancel-remove {
          background-color: #eaeff9;
          &:hover {
            background-color: darken(#eaeff9, 8%);
          }
          &:focus {
            background-color: darken(#eaeff9, 14%);
          }
        }
        &.confirm-remove {
          background-color: $btn-bg-color;
          &:hover {
            background-color: darken($btn-bg-color, 8%);
          }
          &:focus {
            background-color: darken($btn-bg-color, 14%);
          }
        }
      }
    }
  }
  .add-card-wrapper {
    $add-card-form-width: 90px;
    $add-card-form-height: 34px;
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 5px #eee;
    padding: 30px;
    border-radius: 4px;
    &.default {
      display: none;
    }
    &.active {
      display: block;
    }
    > div {
      font-size: 0;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
      label:not(.error) {
        display: inline-block;
        vertical-align: middle;
        font-size: $font-size;
        width: $add-card-form-width;
        height: $add-card-form-height;
        line-height: $add-card-form-height;
        position: relative;
        padding-right: 18px;
        text-align: right;
        color: $text-color;
        &.required {
          &::after {
            content: "*";
            position: absolute;
            right: 8px;
            font-size: $font-size;
            color: #f00;
          }
        }
      }
      label.error {
        display: block;
        font-size: 12px;
        height: 24px;
        line-height: 24px;
        margin-left: $add-card-form-width;
      }
      input {
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - #{$add-card-form-width});
        height: $add-card-form-height;
        line-height: $add-card-form-height - 2;
        border: 1px solid #bfbfbf;
        font-size: $font-size;
        color: #a7a7a7;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 2px;
        @extend %ellipsis;
        &:focus {
          border-color: darken(#bfbfbf, 80%);
          outline: none;
        }
      }
      select {
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - #{$add-card-form-width});
        height: $add-card-form-height;
        line-height: $add-card-form-height - 2;
        border: 1px solid #bfbfbf;
        font-size: $font-size;
        color: #a7a7a7;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 2px;
        @extend %ellipsis;
        &:focus {
          border-color: darken(#bfbfbf, 80%);
          outline: none;
        }
        option {
          height: 30px;
          line-height: 30px;
          padding-right: 20px;
          padding-left: 20px;
          color: $text-info-color;
          font-size: $font-size;
          cursor: pointer;
        }
      }
      &.verification-code {
        position: relative;
        input {
          padding-right: 150px;
        }
        .get-verification-code-btn {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: 144px;
          padding-right: 4px;
          font-size: 12px;
          text-align: center;
          color: $btn-bg-color;
          height: $add-card-form-height;
          line-height: $add-card-form-height - 2;
          &:hover {
            background-color: #efefef;
          }
        }
      }
      &.add-card-handle {
        margin-left: 200px;
        margin-top: 40px;
        font-size: 0;
        button {
          display: inline-block;
          vertical-align: middle;
          font-size: $font-size;
          color: #fff;
          padding: 10px 32px;
          text-align: center;
          border-radius: 40px;
          &:not(:last-of-type) {
            margin-right: 40px;
          }
        }
        .cancel {
          background-color: #eaeff9;
        }
        .confirm {
          background-color: $btn-bg-color;
        }
      }
    }
    .remove-card-handle {
      margin-top: 40px;
      button {
        padding: 10px 32px;
        color: #fff;
        font-size: 14px;
        border-radius: 40px;
        &:not(:last-of-type) {
          margin-right: 40px;
        }
        &.cancel-remove {
          background-color: #eaeff9;
          &:hover {
            background-color: darken(#eaeff9, 8%);
          }
          &:focus {
            background-color: darken(#eaeff9, 14%);
          }
        }
        &.confirm-remove {
          background-color: $btn-bg-color;
          &:hover {
            background-color: darken($btn-bg-color, 8%);
          }
          &:focus {
            background-color: darken($btn-bg-color, 14%);
          }
        }
      }
    }
  }
}

/*===会员配置管理===*/
/*会员增加*/
.member-add-form {
  $height: 32px;
  $div-space-between: 60px;
  width: 100%;
  background-color: #fff;
  padding: 15px 60px 100px 60px;
  @extend .clearfix;
  > div {
    float: left;
    width: calc(50% - #{$div-space-between} / 2);
    min-width: 240px;
    margin-bottom: 18px;
    &:nth-of-type(2n + 1) {
      margin-right: $div-space-between;
    }
    label:not(.error) {
      display: block;
      font-size: $font-size;
      font-weight: 500;
      width: 100%;
      height: $height;
      line-height: $height;
      position: relative;
      color: $text-info-color;
      &.required {
        &::before {
          content: "*";
          position: absolute;
          left: -8px;
          font-size: $font-size;
          color: #f00;
        }
      }
    }
    label.error {
      width: 100%;
      display: block;
      font-size: 12px;
      height: 18px;
      line-height: 18px;
    }
    input {
      width: 100%;
      display: block;
      height: $height + 2;
      line-height: $height;
      border: 1px solid #bfbfbf;
      font-size: $font-size;
      color: $text-info-color;
      padding-right: 20px;
      padding-left: 20px;
      border-radius: 2px;
      @extend %ellipsis;
      &:focus {
        border-color: darken(#bfbfbf, 80%);
        outline: none;
      }
    }
    &.datetime {
      position: relative;
      input {
        background-color: #ccc;
        cursor: pointer;
      }
    }
    select {
      width: 100%;
      height: $height + 2;
      line-height: $height;
      padding-left: 20px;
      border: 1px solid #bfbfbf;
      color: #a7a7a7;
      font-size: $font-size;
      cursor: pointer;
      &:focus {
        border-color: darken(#bfbfbf, 80%);
        outline: none;
      }
      option {
        height: 30px;
        line-height: 30px;
        padding-right: 20px;
        padding-left: 20px;
        color: $text-info-color;
        font-size: $font-size;
        cursor: pointer;
      }
    }
    &.cancel-confirm {
      margin-top: 50px;
      font-size: 0;
      button {
        display: inline-block;
        vertical-align: middle;
        font-size: $font-size;
        color: #fff;
        padding: 10px 32px;
        text-align: center;
        border-radius: 40px;
        &:not(:last-of-type) {
          margin-right: 40px;
        }
      }
      .cancel {
        background-color: #eaeff9;
        &:hover {
          background-color: darken(#eaeff9, 8%);
        }
        &:focus {
          background-color: darken(#eaeff9, 14%);
        }
      }
      .confirm {
        background-color: $btn-bg-color;
        &:hover {
          background-color: darken($btn-bg-color, 8%);
        }
        &:focus {
          background-color: darken($btn-bg-color, 14%);
        }
      }
    }
  }
}
/*会员配置管理*/
.member-handle-list {
  $height: 30px;
  $mt: 5px;
  padding: 17px 10px;
  background-color: #fff;
  @extend .clearfix;
  .add {
    float: left;
    margin-top: $mt;
    margin-bottom: $mt;
    padding-right: 16px;
    padding-left: 16px;
    height: $height;
    line-height: $height;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    background-color: $btn-bg-color;
    &:hover {
      background-color: darken($btn-bg-color, 8%);
    }
    &:focus {
      background-color: darken($btn-bg-color, 14%);
    }
  }
  .member-condition-list {
    float: right;
    @extend .clearfix;
    > div {
      float: left;
      margin-top: $mt;
      margin-bottom: $mt;
      &:not(:last-of-type) {
        margin-right: 10px;
        font-size: 0;
      }
      input {
        display: block;
        font-size: 12px;
        color: $text-info-color;
        border: 1px solid #bfbfbf;
        width: 160px;
        height: $height;
        line-height: $height - 2;
        padding-right: 1em;
        padding-left: 1em;
        @extend %ellipsis;
        &:focus {
          border-color: darken(#bfbfbf, 80%);
          outline: none;
        }
      }
      select {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        color: $text-info-color;
        border: 1px solid #bfbfbf;
        width: 160px;
        height: $height;
        line-height: $height - 2;
        padding-left: 1em;
        @extend %ellipsis;
        &:focus {
          border-color: darken(#bfbfbf, 80%);
          outline: none;
        }
        option {
          line-height: 1.5;
        }
      }
    }
    .filter {
      float: left;
      margin-top: $mt;
      margin-bottom: $mt;
      padding-right: 16px;
      padding-left: 16px;
      margin-left: 10px;
      height: $height;
      line-height: $height;
      text-align: center;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      background-color: $main-color;
      &:hover {
        background-color: darken($main-color, 8%);
      }
      &:focus {
        background-color: darken($main-color, 14%);
      }
    }
  }
}

/*会员列表*/
.member-list {
  background-color: #fff;
  margin-top: 20px;
  padding-bottom: 20px;
}
.member-list-table {
  $height: 40px;
  width: 100%;
  table-layout: fixed;
  tr {
    height: $height;
    th,
    td {
      padding-right: 14px;
      padding-left: 14px;
      @extend %ellipsis;
    }
  }
  thead {
    tr {
      line-height: $height;
      background-color: $main-color;
      th {
        font-size: $font-size;
        color: #fff;
      }
    }
  }
  tbody {
    tr {
      line-height: $height - 1;
      border-bottom: 1px solid #f5f5f5;
      td {
        font-size: 12px;
        color: $text-info-color;
        &.handle {
          @extend .clearfix;
          padding-right: 0;
          padding-left: 0;
        }
        .iconfont {
          float: left;
          display: block;
          padding-right: 14px;
          padding-left: 14px;
          cursor: pointer;
        }
        .icon-update {
          color: $text-info-color;
          &:hover {
            color: darken($text-info-color, 8%);
          }
        }
        .icon-delete {
          color: #f00;
          &:hover {
            color: darken(#f00, 8%);
          }
        }
      }
    }
  }
  /*.member-sex {
    width: 90px;
  }
  .member-phone {
    width: 130px;
  }
  .member-level {
    width: 100px;
  }
  .discount {
    width: 90px;
  }
  .cost-time {
    width: 150px;
  }
  .money-limit {
    width: 120px;
  }
  .merchant-limit {
    width: 150px;
  }*/
  .handle {
    width: 90px;
  }
}

/*===会员卡管理===*/
/*会员卡列表*/
.member-card-item {
  position: relative;
  width: 100%;
  padding: 10px 20px 15px;
  background-color: #fff;
  color: $text-color;
  &.dated {
    background-color: #d9d9d9;
    &::after {
      content: "已经到期";
      position: absolute;
      top: 50%;
      right: 30px;
      width: 76px;
      height: 76px;
      text-align: center;
      padding: 11px 9px 11px 13px;
      line-height: 24px;
      border: 3px solid;
      border-radius: 50%;
      color: #333;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 3px;
      transform: translateY(-50%) rotate(-30deg);
    }
    .body {
      > div {
        border-left-color: $text-color;
        > div:last-of-type {
          color: $text-color;
        }
      }
    }
  }
  .header {
    font-size: $font-size;
    color: $text-color;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  .body {
    @extend .clearfix;
    width: 100%;
    > div {
      width: 25%;
      float: left;
      border-left: 2px solid;
      padding-left: 10px;
      > div:first-of-type {
        font-size: $font-size + 4;
        color: $text-color;
      }
      > div:not(:last-of-type) {
        margin-bottom: 8px;
      }
      > div:last-of-type {
        font-size: $font-size;
        color: #b6bcc3;
      }
    }
    .balance {
      border-left-color: #70b340;
    }
    .buy-date {
      border-left-color: #5974c8;
    }
    .dated-date {
      border-left-color: #f79e2b;
    }
    .price {
      border-left-color: #ef3a00;
    }
  }
}
/*会员卡详情*/
.member-card-details {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 30px 40px;
  background-color: #fff;
  .back {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 16px;
    height: 16px;
    border: 2px solid #333 {
      right-width: 0;
      bottom-width: 0;
    }
    cursor: pointer;
    transform: rotate(-45deg);
  }
  .details {
    @extend .clearfix;
    > div {
      $width: 160px;
      $height: 36px;
      float: left;
      font-size: 0;
      width: 50%;
      height: $height;
      line-height: $height;
      margin-bottom: 20px;
      @media (max-width: 1280px) {
        width: 100%;
      }
      &.intro {
        width: 100%;
        height: auto;
        > span {
          &:last-of-type {
            height: 130px;
            line-height: 24px;
            padding-top: 10px;
            padding-bottom: 10px;
            white-space: normal;
          }
        }
      }
      > span {
        height: $height;
        line-height: $height;
        display: inline-block;
        vertical-align: middle;
        font-size: $font-size;
        color: $text-color;
        &:first-of-type {
          width: $width;
          text-align: right;
          margin-right: 20px;
        }
        &:last-of-type {
          width: calc(100% - #{$width} - 20px);
          background-color: #eaeff9;
          border-radius: 4px;
          padding-right: 1em;
          padding-left: 1em;
          @extend %ellipsis;
        }
      }
    }
  }
}